* {
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    margin: 0 auto;
}

h1{
    color: aliceblue;
    background-color: black;
}

h2 {
    color: black;
    text-align: center;
}

.main {
    background-color:rgb(187, 236, 139);
    height: 1000px;
    width: 100%;
}

.col1 {
    flex: 1;
    background-color: cornsilk;
    height: 500px;
}

.card1
{
    margin: 10px 10px auto;
    border: black solid;
    height: 200px;
    justify-content: center;
    padding: 10px 10px;
}

img {
    height: 100px;
    width: 100px;
}

.col2 {
    flex: 3;
    background-color: cyan;
    height: 500px;
}

.card2 {
    border: black solid;
    height: 100px;
    margin: 10px 10px auto;
    padding: 10px 10px;
}
.flex {
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center {
    align-items: center;
}